@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .col-md-12 {
        width: 100%;
    }

    .k-grid .k-table-row {
        font-size: 14px;
    }

    .demo-wrapper {
        grid-template-columns: 180px 1fr;
    }

    .k-h4 {
        line-height: 26px;
        margin-bottom: 0;
    }

    .kd-nodata-wrapper {
        display: block !important;
        padding-top: 20px !important;
    }


    /* Breakpoints for full screen demo: max:599px, min:759px and max: 959 */

    .demo-wrapper {
        grid-template-columns: 1fr;
    }

    .avatar {
        display: block !important;
    }

    .side-container {
        display: none !important;
    }

    .main-container {
        padding-bottom: 0;
    }

    .content-expanded {
        border-end-end-radius: 0;
        border-end-start-radius: 0;
    }


    /* Breakpoint for full screen demo: max:359px */

    .avatar {
        width: 32px;
        height: 32px;
    }

    .card1 {
        z-index: 0;
        border: none;
        border-radius: 0.5rem;
        position: relative;
    }

    /*form styles*/
    #msform {
        text-align: center;
        position: relative;
        padding: 0px 10px;
    }

        #msform fieldset .form-card {
            background: white;
            border: 0 none;
            border-radius: 0px;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
            padding: 20px 40px 30px 40px;
            box-sizing: border-box;
            margin: 0px !important;
            width: 100%;
            /*stacking fieldsets above each other*/
            position: relative;
            height: 60vh;
        }

        #msform fieldset {
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            margin: 0;
            padding-bottom: 20px;
            /*stacking fieldsets above each other*/
            position: relative;
        }

            /*Hide all except first fieldset*/
            #msform fieldset:not(:first-of-type) {
                display: none;
            }

            #msform fieldset .form-card {
                text-align: left;
                height: 60vh;
            }

        /*Blue Buttons*/
        #msform .action-button {
            width: 100px;
            background: #0fc9b7;
            border-radius: 5px;
            font-weight: bold;
            color: #ffff;
            border: 0 none;
            border-radius: 5px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
        }

        /*   #msform .action-button:hover, #msform .action-button:focus {
                                                                                                                        box-shadow: 0 0 0 2px #0fc9b7, 0 0 0 3px #0fc9b7;
                                                                                                                    }*/

        /*Previous Buttons*/
        #msform .action-button-previous {
            width: 100px;
            border: 1px solid red !important;
            background: transparent;
            font-weight: bold;
            color: red;
            border: 0 none;
            border-radius: 5px !important;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
        }

    /*progressbar*/
    #progressbar {
        margin-bottom: 0px;
        overflow: hidden;
        color: #0c0c0c;
    }

        #progressbar .active {
            color: #fff;
            background-color: #872e7b !important;
        }

        #progressbar li {
            list-style-type: none;
            font-size: 14px;
            width: 20%;
            float: left;
            position: relative;
            border-left: 1px solid #fff;
        }

            /*ProgressBar before any progress*/
            #progressbar li:before {
                width: 50px;
                height: 50px;
                line-height: 45px;
                display: block;
                font-size: 18px;
                color: #ffffff;
                background: lightgray;
                border-radius: 50%;
                margin: 0 auto 10px auto;
                padding: 2px;
            }

            /*ProgressBar connectors*/
            #progressbar li:after {
                content: '';
                width: 100%;
                height: 2px;
                background: lightgray;
                position: absolute;
                left: 0;
                top: 25px;
                z-index: -1;
            }

            /*Color number of the step and the connector before it*/
            #progressbar li.active:before, #progressbar li.active:after {
                background: skyblue;
            }


    .tab-color {
        background-color: grey !important;
        padding: 12px;
        color: #fff;
    }

    .item {
        padding-left: 5px;
        padding-right: 5px;
    }

    .item-card {
        transition: 0.5s;
        cursor: pointer;
        background-color: #a39797;
        padding: 5px;
        border-radius: 5px;
    }

    .item-card-title {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
    }

        .item-card-title i {
            font-size: 15px;
            transition: 1s;
            cursor: pointer;
            color: #ffa710
        }

    .card-title i:hover {
        transform: scale(1.25) rotate(100deg);
        color: #18d4ca;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    }

    .card-text {
        height: 80px;
    }

    .card::before, .card::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale3d(0, 0, 1);
        transition: transform .3s ease-out 0s;
        background: rgba(255, 255, 255, 0.1);
        content: '';
        pointer-events: none;
    }

    .card::before {
        transform-origin: left top;
    }

    .card::after {
        transform-origin: right bottom;
    }

    .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
        transform: scale3d(1, 1, 1);
    }

    .btntestconn {
        background: #0fc9b7;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 5px;
        cursor: pointer;
        padding: 10px 10px;
        margin: -11px 0px;
        float: right
    }


    .selected {
        box-shadow: 0px 12px 22px 1px #998a8a;
        background: #998a8a;
        padding: 10px;
    }

    #cc_progressbar {
        margin-bottom: 0px;
        overflow: hidden;
        color: #0c0c0c;
    }

        #cc_progressbar .active {
            color: #fff;
            background-color: #872e7b !important;
        }

        #cc_progressbar li {
            list-style-type: none;
            font-size: 12px;
            width: 10%;
            float: left;
            position: relative;
            cursor: pointer;
            border-left: 1px solid #fff;
        }

            /*ProgressBar before any progress*/
            #cc_progressbar li:before {
                width: 50px;
                height: 50px;
                line-height: 45px;
                display: block;
                font-size: 18px;
                color: #ffffff;
                background: lightgray;
                border-radius: 50%;
                margin: 0 auto 10px auto;
                padding: 2px;
            }

            /*ProgressBar connectors*/
            #cc_progressbar li:after {
                content: '';
                width: 100%;
                height: 2px;
                background: lightgray;
                position: absolute;
                left: 0;
                top: 25px;
                z-index: -1;
            }

            /*Color number of the step and the connector before it*/
            #cc_progressbar li.active:before, #cc_progressbar li.active:after {
                background: skyblue;
            }

    .cc_tab-color {
        background-color: grey !important;
        padding: 6px;
    }

    .listicon {
        padding-left: 9px;
        padding-right: 8px;
        left: 10px;
        padding-top: 9px;
        padding-bottom: 3px;
        background: #fff;
        color: #872e7b !important;
        border-radius: 4px;
    }

        .listicon > a {
            color: #872e7b !important;
        }

</style>
<style>
    .scroll-container {
        width: 100%;
        overflow-x: auto; /* Horizontal Scroll Enable */
        white-space: nowrap;
        border: 1px solid #ddd;
        padding: 10px;
    }

    .scroll-content {
        display: inline-flex;
        gap: 40px;
    }

    .connector-item img {
        height: 75px;
        width: 75px;
        cursor: pointer;
        border: 3px solid transparent;
        border-radius: 10px;
        padding: 5px;
    }

        .connector-item img.selected {
            border-color: blue;
            background-color: #eef5ff;
        }
</style>
<body>
    <div>
        <div style="height:auto;">
            @*<div class="content-wrapper" style="padding:10px;">*@
            <div style="padding:10px;">
                <div class="card1">
                    <div class="row">
                        <div class="col-md-12 mx-0">
                            <form id="msform">
                                <div style="position: absolute; top: 2px; right: 5px; z-index: 1000; padding: 10px;">
                                    <a href="@Url.Action("ConnectorsList", "Connectors")" class="listicon" title="Go to List">
                                        <span class="glyphicon glyphicon-list" style="font-size:22px;" aria-hidden="true"></span>
                                    </a>
                                </div>

                                <ul id="progressbar" style="padding: 8px 0px;">
                                    <li class="active tab-color"><a data-toggle="tab" id="conndetails" style="color: #fff;">Plugin Details</a></li>
                                    <li class="tab-color"><a data-toggle="tab" id="configurconn" style="color: #fff;">Plugin Configuration</a></li>
                                </ul>
                                <fieldset>
                                    <div class="form-card" style="height: 68vh;">

                                        <h2 class="fs-title" style="margin-top: 0px !important;">Plugin Details</h2>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <input class="form-control" type="text" id="txt_connection_gid" name="txt_connection_gid" style="display:none" />
                                                    <input class="form-control" type="text" id="txt_connectorstatus" name="txt_connectorstatus" style="display:none" />

                                                    <label class="form-label">Plugin Name </label>
                                                    <span class="mandatory">*</span>
                                                    <input class="form-control" type="text" id="txt_connectorname" name="txt_connectorname" />
                                                </div>
                                                <br />
                                                <div id="img_source_type">
                                                    <div class="row" style="margin-left: 0px;">
                                                        <label class="form-label">Choose Source Type</label>
                                                        <span class="mandatory">*</span>
                                                    </div>

                                                    <div class="scroll-container" id="scrollContainer">
                                                        <input type="text" id="txt_source_type" name="txt_source_type" style="display:none;"></>
                                                        <div class="scroll-content">
                                                            <div class="connector-item">
                                                                <img id="MySql" value="MySql" src="~/Content/images/mysql.png" onclick="handleImageClick('MySql')">
                                                            </div>

                                                            <div class="connector-item">
                                                                <img id="Postgres" value="Postgres" src="~/Content/images/postgres1.png" onclick="handleImageClick('Postgres')">
                                                            </div>

                                                            <div class="connector-item">
                                                                <img id="CSV" value="CSV" src="~/Content/images/csv.png" onclick="handleImageClick('CSV')">
                                                            </div>

                                                            <div class="connector-item">
                                                                <img id="Excel" value="Excel" src="~/Content/images/excel.png" onclick="handleImageClick('Excel')">
                                                            </div>

                                                            <div class="connector-item">
                                                                <img id="Flatfile" value="Flatfile" src="~/Content/images/flatfile.png" onclick="handleImageClick('Flatfile')">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Plugin Description </label>
                                                <textarea class="form-control" type="text" id="txt_connectordesc" name="txt_connectordesc" style="width: 468px; height: 179px;color: black;resize: none;"></textarea>
                                            </div>
                                        </div>

                                        <br />

                                        @*<div class="col-md-">
                                        <label>Connector Status</label>
                                        <span class="mandatory">*</span>
                                        <select class="form-control" id="conn_sts" name="conn_sts">
                                        <option selected>Active</option>
                                        <option>Inactive</option>
                                        </select>
                                        </div>*@

                                        @*<div class="row" id="div_passwordprod" style="display:none;">
                                        <div class="col-md-6" id="div_pswdprod">
                                        <label class="form-label">Password Protected </label> <br />
                                        <input type="radio" id="pp_yes" name="pswd_prod" value="Y" onclick="showpassword()"> Yes
                                        <input type="radio" id="pp_no" name="pswd_prod" value="N" onclick="showpassword()" style="margin-left:8%" checked> No
                                        </div>

                                        <div class="col-md-6" id="div_prd_pswd">
                                        <label class="form-label">Password </label>
                                        <span class="mandatory">*</span>
                                        <input class="form-control" type="password" id="txt_pswdprotected" name="txt_pswdprotected" />
                                        </div>
                                        </div>*@

                                        <div style="margin-top: 15px;">
                                        </div>
                                    </div>
                                    <div class="navbar fixed-bottom" style="min-height:0px;"></div>
                                    <input style="float: right; margin-right: 0px; border-radius: 5px; margin-top: -1%;" type="button" onclick="saveAsdraft()" id='next' name="next" class="next action-button" value="Next" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card" style="height: 68vh;">

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h2 class="fs-title" style="margin-top:0px !important">Plugin Configuration</h2>
                                            </div>
                                            <div class="col-sm-4">
                                            </div>
                                            <div class="col-sm-4" style="margin-top: 1%;">
                                                <input class="btntestconn" id="btn_establish" name="btn_establish" onclick="establishconn()" value="Test Connection" type="button"></input>

                                            </div>
                                        </div>

                                        <ul id="cc_progressbar" style="padding: 8px;padding-left: 0px;text-align: center;">
                                            <li class="active cc_tab-color" id="generalTab"><a data-toggle="tab" style="color: #fff;">General</a></li>
                                            <li class="cc_tab-color" id="sshTab"><a data-toggle="tab" style="color: #fff;">SSH</a></li>
                                        </ul>
                                        <div id="general_conf">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label class="form-label">Host Name</label>
                                                    <span class="mandatory">*</span>
                                                    <input class="form-control" id="txt_hostname" type="text" name="txt_hostname" />
                                                </div>

                                                <div class="col-md-6">
                                                    <label class="form-label">Port</label>
                                                    <span class="mandatory">*</span>
                                                    <input class="form-control" id="txt_port" type="text" name="txt_port" />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label class="form-label">User Name</label>
                                                    <span class="mandatory">*</span>
                                                    <input class="form-control" id="txt_username" type="text" name="txt_username" />
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Authentication Mode</label>
                                                    <span class="mandatory">*</span>
                                                    <select class="form-control" onchange="onchange_gen_authmode()" id="gen_authe_mode" name="authe_mode">
                                                        <option>Private key</option>
                                                        <option selected>Password</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div id="source_password">
                                                        <div>
                                                            <label class="form-label">Password</label>
                                                            <span class="mandatory">*</span>
                                                            <input class="form-control" id="txt_password" type="password" name="pssword" />
                                                        </div>
                                                    </div>
                                                    <div id="source_private_key">
                                                        <div>
                                                            <label class="form-label">Private Key</label>
                                                            <span class="mandatory">*</span>
                                                            <input type="file" id="source_key" name="source_key">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="ssh_conf" style="display:none">
                                            <div class="row" style="margin-left: 0%;">
                                                <input type="checkbox" onclick="using_tunnel()" id="ssh_checkbox" name="enable_ssh">
                                                <label for="ssh_checkbox">Use SSH Tunneling</label>
                                            </div>
                                            <div id="ssh_tunnel_enable">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label class="form-label">Host Name</label>
                                                        <span class="mandatory">*</span>
                                                        <input class="form-control" id="txt_hostname" type="text" name="txt_hostname" />
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label class="form-label">Port</label>
                                                        <span class="mandatory">*</span>
                                                        <input class="form-control" id="txt_port" type="text" name="txt_port" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label class="form-label">User Name</label>
                                                        <span class="mandatory">*</span>
                                                        <input class="form-control" id="txt_username" type="text" name="txt_username" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Authentication Mode</label>
                                                        <span class="mandatory">*</span>
                                                        <select class="form-control" onchange="onchange_authmode()" id="authe_mode" name="authe_mode">
                                                            <option selected>Private key</option>
                                                            <option>Password</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div id="ssh_password">
                                                        <label class="form-label">Password</label>
                                                        <span class="mandatory">*</span>
                                                        <input class="form-control" id="txt_sshpwd" type="password" name="txt_sshpwd" />
                                                    </div>
                                                    <div id="private_key">
                                                        <label class="form-label">Private Key</label>
                                                        <span class="mandatory">*</span>
                                                        <input type="file" id="ssh_key" name="ssh_key">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="navbar fixed-bottom" style="min-height:0px; margin:0px;"></div>
                                    <input style="float: right; margin-top: 1%;    margin-right: 0%;" type="button" id="btn_nxt" name="next" onclick="save()" class="action-button" value="Submit" />
                                    <input style=" float: right; margin-top: 1%;" type="button" id="btn_prvs" name="previous" class="previous action-button-previous" value="Previous" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var _user_code = "";
    $(document).ready(function () {
        _user_code = sessionStorage.getItem("userCode");
        $('#ssh_tunnel_enable').hide();
        $('#ssh_password').hide();
        $('#private_key').hide();
        $('#source_private_key').hide();
        $('#source_password').show
        // var dsviewname = new kendo.data.DataSource({
        //     data: [
        //         { Id: 1, ViewName: "recon_trn_ttran" },
        //         { Id: 2, ViewName: "recon_mst_tmaster" },
        //         { Id: 3, ViewName: "recon_trn_tfile" },
        //         { Id: 4, ViewName: "view1" },
        //         { Id: 5, ViewName: "view2" },
        //         { Id: 6, ViewName: "view3" },

        //     ],
        //     sort: { field: "ViewName", dir: "asc" }
        // });

        // $("#multiselect1").kendoMultiSelect({
        //     dataTextField: "ViewName",
        //     dataValueField: "Id",
        //     dataSource: dsviewname,
        //     autoHeight: true,
        //     autoClose: false,
        //     filter: "contains",
        //     //placeholder: "Please select any one view...",
        //     downArrow: true,
        //     noDataTemplate: $("#noDataTemplate").html()
        // });

        //Fetch connector
        var id = @ViewBag.conn_id;
        refetch(id);

        (function ($) {
            var MultiSelectBox = window.kendo.ui.DropDownList.extend({
                _select: function (li) { },//Prevents highlighting
                _blur: function () { },//Prevents auto close
            });

            window.kendo.ui.plugin(MultiSelectBox);
        })(jQuery);

        function onSelect(e) {
            var cbs = document.getElementsByName("cb");
            var checkboxes = document.getElementsByTagName('input');
            var ddl = $("#id").data("kendoDropDownList");
            var id = ddl.element.attr("id");
            multiselect();
            var item = e.item;
            var index = item.index();
            if (index == 0) {
                for (var i = 1; i < cbs.length; i++) {
                    var selectAll = cbs[0].checked;
                    if (cbs[0].checked) {
                        for (var i = 0; i < checkboxes.length; i++) {
                            if (checkboxes[i].type == 'checkbox') {
                                checkboxes[i].checked = true;
                            }
                        }
                        multiselect();
                    }

                    else {
                        for (var i = 0; i < checkboxes.length; i++) {
                            if (checkboxes[i].type == 'checkbox') {
                                checkboxes[i].checked = false;
                            }
                        }
                        multiselect();
                    }
                }
            }

        }

        function multiselect() {
            // var dataItem = this.dataItem(e.item);
            var ddl = $("#id").data("kendoDropDownList");
            var isAllChecked = $('#cb').prop("checked");
            var cbs = document.getElementsByName("cb");
            var display;

            var list = [];
            for (var i = 1; i < cbs.length; i++) {
                if (cbs[i].checked) {
                    list.push(cbs[i].value);
                }

            }


            if (list.length == 0) {
                display = "-- SelectAll --";

                // $("#ReconAttr").html("Recon - All");
            }
            else {

                display = list.join(", ");
                //$("#ReconAttr").html("Recon - " + display + "");
            }

            ddl.text(display);

        }

        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;

        $(".next").click(function () {

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();
            if ($("#txt_connectorname").val() != "" && $("#txt_source_type").val() != "" && $("#txt_source_type").val() != "Excel" && $("#txt_source_type").val() != "CSV") {
                //Add Class Active
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the next fieldset
                current_fs.hide();
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({ 'opacity': opacity });
                    },
                    duration: 600
                });
            }
        });

        $(".previous").click(function () {

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("fieldset").index(previous_fs)).addClass("active");
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            current_fs.hide();
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 600
            });
        });

        $('.radio-group .radio').click(function () {
            $(this).parent().find('.radio').removeClass('selected');
            $(this).addClass('selected');
        });

        $(".submit").click(function () {
            return false;
        })

    });

</script>
<script>
    function establishconn() {
        if ($("#txt_source_type").val() == "" || $("#txt_source_type").val() == null || $("#txt_source_type").val() == undefined) {
            jAlert("Please select source type.", "Plugin");
            return;
        }
        if ($("#txt_hostname").val() == "" || $("#txt_hostname").val() == null || $("#txt_hostname").val() == undefined) {
            jAlert("Please enter host name.", "Plugin");
            return;
        }
        if ($("#txt_port").val() == "" || $("#txt_port").val() == null || $("#txt_port").val() == undefined) {
            jAlert("Please enter port.", "Plugin");
            return;
        }
        if ($("#txt_username").val() == "" || $("#txt_username").val() == null || $("#txt_username").val() == undefined) {
            jAlert("Please enter user name.", "Plugin");
            return;
        }
        if ($("#txt_password").val() == "" || $("#txt_password").val() == null || $("#txt_password").val() == undefined) {
            jAlert("Please enter password.", "Plugin");
            return;
        }

        var data = {};
        data.source_db_type = $('#txt_source_type').val();
        data.source_host_name = $("#txt_hostname").val();
        data.source_port = $("#txt_port").val();
        data.source_db_user = $("#txt_username").val();
        data.source_db_pwd = $("#txt_password").val();
        var data1 = data;
        $.ajax({
            type: "Post",
            url: '@Url.Action("EstablishConn", "Connectors")',
            data: JSON.stringify(data1),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                if (response == "Test Connection Success..!") {
                    $('#txt_connectorstatus').val('Active');
                }
                else {
                    $('#txt_connectorstatus').val('Inactive');
                }
                jAlert(response, "Plugin", function (e) {
                    if (e == true) {
                        document.getElementById("btn_nxt").disabled = false;
                    }
                });
            },
            error: function (er) {
                $('#txt_connectorstatus').val('Inactive');
                jAlert(er, "Error");
                //alert(er)
            }
        });
    };

    $('img').click(function () {
        $('.selected').removeClass('selected');
        $(this).addClass('selected');
        var getAllImages = document.getElementsByTagName('img.selected');
        $('#txt_source_type').val(this.getAttribute('value'));
    });

    function refetch(id) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Readconnector", "Connectors")' + '?id=' + id,
            //url: "/../Connectors/Readconnector?id=" + id,
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                console.log(response)
                $('#txt_connection_gid').val(response.connection_gid);
                $('#txt_source_type').val(response.source_db_type);

                $('.selected').removeClass('selected');
                var source_id = "#" + response.source_db_type;
                $(source_id).addClass('selected');
                if (response.source_db_type == "Excel") {
                    handleImageClick(response.source_db_type);
                    $('#txt_pswdprotected').val(response.file_password);
                }
                $('#txt_connectorname').val(response.connection_name);
                $('#txt_connectordesc').val(response.connection_desc);
                $('#txt_hostname').val(response.source_host_name);
                $('#txt_port').val(response.source_port);
                if (response.source_auth_mode == "Password") {
                    $('#source_private_key').hide();
                    $('#source_password').show();
                }
                else {
                    $('#source_private_key').show();
                    $('#source_password').hide();
                }
                $('#gen_authe_mode').val(response.source_auth_mode);
                $('#txt_username').val(response.source_db_user);
                $('#txt_password').val(response.source_db_pwd);
                $('#txt_connectorstatus').val(response.connection_status);
            },
            error: function (er) {
                jAlert(er, "Error");
            }
        });
    }

    function saveAsdraft() {
        if ($("#txt_connectorname").val() == "" || $("#txt_connectorname").val() == null || $("#txt_connectorname").val() == undefined) {
            jAlert("Please enter connector name.", "Plugin");
            return;
        }
        if ($("#txt_source_type").val() == "" || $("#txt_source_type").val() == null || $("#txt_source_type").val() == undefined) {
            jAlert("Please select source type.", "Plugin");
            return;
        }
        if ($("#txt_source_type").val() == "Excel" && $('#pp_yes').is(':checked') && $("#txt_pswdprotected").val() == "") {
            jAlert("Please enter password.", "Plugin");
            return;
        }
        var current_date = new Date;
        if ($("#txt_connection_gid").val() == "") {
            var data = {};
            data.connection_gid = "0";
            data.connection_name = $("#txt_connectorname").val();
            data.connection_desc = $("#txt_connectordesc").val();
            data.source_db_type = $('#txt_source_type').val();
            if ($("#txt_source_type").val() == "Excel" || $("#txt_source_type").val() == "CSV") {
                data.connection_status = "Active";
                data.protection_type = $('input[name="pswd_prod"]:checked').val();
                data.file_password = $('#txt_pswdprotected').val();
            }
            else {
                data.connection_status = "Draft";
            }
            data.created_date = current_date;
            data.created_by = _user_code;
            var data1 = data;
            $.ajax({
                type: "Post",
                url: '@Url.Action("Addnewconnector", "Connectors")',
                data: JSON.stringify(data1),
                //dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    if ($('#txt_source_type').val() == "Excel") {
                        jAlert("Connector Details Inserted Successfully..!", "Plugin", function (e) {
                            if (e == true) {
                                window.location.href = '@Url.Action("Connectorslist", "Connectors")';// "/Connectors/Connectorslist";
                            }
                        });
                    }
                    else {
                        refetch(response);
                    }
                },
                error: function (er) {
                    jAlert(er, "Error");
                }
            });
        }
        else {
            var updatedata = {};
            updatedata.connection_gid = $("#txt_connection_gid").val();
            updatedata.connection_name = $("#txt_connectorname").val();
            updatedata.connection_desc = $("#txt_connectordesc").val();
            updatedata.source_db_type = $('#txt_source_type').val();
            updatedata.protection_type = $('input[name="pswd_prod"]:checked').val();
            updatedata.file_password = $('#txt_pswdprotected').val();
            updatedata.source_host_name = $("#txt_hostname").val();
            updatedata.source_port = $("#txt_port").val();
            updatedata.source_auth_mode = $("#gen_authe_mode").val();
            updatedata.source_db_user = $("#txt_username").val();
            updatedata.source_db_pwd = $("#txt_password").val();
            if ($('#txt_source_type').val() == "Excel") {
                $('#txt_connectorstatus').val("Active");
            }
            updatedata.connection_status = $('#txt_connectorstatus').val();
            updatedata.updated_date = current_date;
            updatedata.updated_by = _user_code;
            var updatedata1 = updatedata;
            $.ajax({
                type: "Post",
                url: '@Url.Action("Updateexistingconnector", "Connectors")',
                data: JSON.stringify(updatedata1),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    if ($('#txt_source_type').val() == "Excel" || $("#txt_source_type").val() == "CSV") {
                        jAlert("Plugin Details Updated Successfully..!", "Plugin", function (e) {
                            if (e == true) {
                                window.location.href = '@Url.Action("Connectorslist", "Connectors")';// "/Connectors/Connectorslist";
                            }
                        });
                    }
                    else {
                        refetch(response);
                    }
                },
                error: function (er) {
                    jAlert(er, "Error");
                }
            });
        }
    }
    //Save Connection
    function save() {
        if ($("#txt_connectorname").val() == "" || $("#txt_connectorname").val() == null || $("#txt_connectorname").val() == undefined) {
            jAlert("Please enter connector name.", "Plugin");
            return;
        }
        if ($("#txt_source_type").val() == "" || $("#txt_source_type").val() == null || $("#txt_source_type").val() == undefined) {
            jAlert("Please select source type.", "Plugin");
            return;
        }
        var current_date = new Date;
        if ($("#txt_connection_gid").val() == "") {
            var data = {};
            data.connection_gid = "0";
            data.connection_name = $("#txt_connectorname").val();
            data.connection_desc = $("#txt_connectordesc").val();
            data.source_db_type = $('#txt_source_type').val();
            data.source_host_name = $("#txt_hostname").val();
            data.source_port = $("#txt_port").val();
            data.source_auth_mode = $("#gen_authe_mode").val();
            data.source_db_user = $("#txt_username").val();
            data.source_db_pwd = $("#txt_password").val();
            data.connection_status = "Draft";
            //data.source_auth_file_name = $("#source_private_key").val();
            //data.source_auth_file_blob = null;
            //data.source_file = null;
            //data.ssh_tunneling = $("#txt_password").val();
            //data.ssh_host_name = $("#txt_password").val();
            //data.ssh_port = $("#txt_password").val();
            //data.ssh_user = $("#txt_password").val();
            //data.ssh_pwd = $("#txt_password").val();
            //data.ssh_auth_mode = $("#txt_password").val();
            //data.ssh_file_name = $("#txt_password").val();
            //data.ssh_file_blob = $("#txt_password").val();
            data.created_date = current_date;
            data.created_by = _user_code;
            var data1 = data;
            $.ajax({
                type: "Post",
                url: '@Url.Action("Addnewconnector", "Connectors")',
                data: JSON.stringify(data1),
                //dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    jAlert(response, "Plugin", function (e) {
                        if (e == true) {
                            window.location.href = "../Connectors/Connectorslist";
                        }
                    });
                    //alert(response);
                },
                error: function (er) {
                    //alert(er)
                    jAlert(er, "Error");
                }
            });
        }
        else {
            var updatedata = {};
            updatedata.connection_gid = $("#txt_connection_gid").val();
            updatedata.connection_name = $("#txt_connectorname").val();
            updatedata.connection_desc = $("#txt_connectordesc").val();
            updatedata.source_db_type = $('#txt_source_type').val();
            updatedata.source_host_name = $("#txt_hostname").val();
            updatedata.source_port = $("#txt_port").val();
            updatedata.source_auth_mode = $("#gen_authe_mode").val();
            updatedata.source_db_user = $("#txt_username").val();
            updatedata.source_db_pwd = $("#txt_password").val();
            updatedata.connection_status = $('#txt_connectorstatus').val();
            updatedata.updated_date = current_date;
            updatedata.updated_by = _user_code;
            var updatedata1 = updatedata;
            $.ajax({
                type: "Post",
                url: '@Url.Action("Updateexistingconnector", "Connectors")',
                data: JSON.stringify(updatedata1),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    jAlert("Plugin Details Updated Successfully..!", "Plugin", function (e) {
                        if (e == true) {
                            window.location.href = "../Connectors/Connectorslist";
                        }
                    });
                },

                error: function (er) {
                    jAlert(er, "Error");
                    //showAlert("Error", "An error occurred during the request.", "error");
                    //alert(er)
                }
            });
        }
    }

    function showscheduled() {
        $("#Scheduled_expression").show();
    }

    function addNew(widgetId, value) {
        var widget = $("#" + widgetId).getKendoMultiSelect();
        var dataSource = widget.dataSource;
        console.log(dataSource.length)


        if (confirm("Are you sure?")) {
            dataSource.add({
                Id: dataSource.data().length + 1,
                sportName: value
            });

            var currentValue = widget.value();
            currentValue.push(dataSource.data().length)
            widget.value(currentValue);
            widget.trigger("change");
        }
    };

    function using_tunnel() {
        var checkbox = document.getElementById("ssh_checkbox");
        if (checkbox.checked) {
            $('#private_key').show();
            $('#ssh_tunnel_enable').show();
        } else {
            $('#ssh_password').hide();
            $('#private_key').hide();
            $('#ssh_tunnel_enable').hide();
        }
    }

    function onchange_authmode() {
        var authenticate_mode = document.getElementById("authe_mode");
        var v_authenticate_mode = authenticate_mode.value;

        if (v_authenticate_mode == "Password") {
            $('#ssh_password').show();
            $('#private_key').hide();
        }
        else {
            $('#ssh_password').hide();
            $('#private_key').show();
        }
    }
    function onchange_gen_authmode() {
        var authenticate_mode = document.getElementById("gen_authe_mode");
        var v_authenticate_mode = authenticate_mode.value;

        if (v_authenticate_mode == "Password") {
            $('#source_password').show();
            $('#source_private_key').hide();
        }
        else {
            $('#source_password').hide();
            $('#source_private_key').show();
        }
    }

    function handleImageClick(value) {
        if (value == 'Excel') {
            $('#div_passwordprod').show();
            //$('#div_pswdprod').show();
            $('#div_prd_pswd').hide();
        }
        else {
            $('#div_passwordprod').hide();
            //$('#div_pswdprod').hide();
        }
    }

    function showpassword() {
        if ($('#pp_yes').is(':checked')) {
            $('#div_prd_pswd').show();
        }
        else {
            $('#div_prd_pswd').hide();

        }
    }

</script>
<script>
    // Get references to the tab links and content divs
    const generalTab = document.getElementById("generalTab");
    const sshTab = document.getElementById("sshTab");
    const generalConf = document.getElementById("general_conf");
    const sshConf = document.getElementById("ssh_conf");

    // Add click event listeners to the tab links
    generalTab.addEventListener("click", () => {
        // Show the General configuration and hide SSH configuration
        generalConf.style.display = "block";
        sshConf.style.display = "none";
        // Set the active tab class and remove it from the other tab
        generalTab.classList.add("active");
        sshTab.classList.remove("active");
    });

    sshTab.addEventListener("click", () => {
        // Show the SSH configuration and hide General configuration
        sshConf.style.display = "block";
        generalConf.style.display = "none";
        // Set the active tab class and remove it from the other tab
        sshTab.classList.add("active");
        generalTab.classList.remove("active");
    });
</script>